<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    {% if header.description %}
      <meta name="description" content="{{ header.description }}">
    {% else %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if header.robots %}
      <meta name="robots" content="{{ header.robots }}">
    {% endif %}
    <link rel="icon" type="image/png" href="{{ theme_url }}/public/images/favicon.png">
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% block stylesheets %}
      {% do assets.add('theme://public/style.css')%}
      {% do assets.add('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')%}
    {% endblock %}
    {{ assets.css() }}
    {{ assets.js() }}
  {% endblock head %}
</head>
<body>

  <div class="nav-n-content">
  {% block header %}
    <header>
      <div class="logo">
        <h3><a href="{{ base_url }}"></a></h3>
      </div>
      <div id="navbar">
        {% include 'partials/navigation.html.twig' %}
      </div>
    </header>
    {% endblock header%}
    {% block body %}
      <main class="container content {{ class }}">
        {% block content %}{% endblock %}
      </main>
  {% endblock body%}
  <!-- end div.nav-n-content (everything but sticky footer) -->
  </div>

  <div class="progress">
    {% include 'partials/bottom-nav.html.twig' %}
  </div>
<!-- end (currently useless) div.page-wrap-->

</body>
</html>
