{% set meta = page.header %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if header.description %}
      <meta name="description" content="{{ header.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if header.robots %}
      <meta name="robots" content="{{ header.robots }}">
    {% endif %}
    <link rel="icon" type="image/png" href="/user/pages/images/icon/favicon.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://images/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-32x32.png" sizes="32x32') }}" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-16x16.png" sizes="16x16') }}" />
    <link rel="manifest" href="{{ url('theme://images/manifest.json') }}" />
    <link rel="mask-icon" href="{{ url('theme://images/safari-pinned-tab.svg" color="#5bbad5') }}" />
    <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico') }}" />
    <meta name="msapplication-config" content="{{ url('theme://images/browserconfig.xml') }}" />
    <meta name="theme-color" content="#ffffff">
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% block stylesheets %}
      {% do assets.add('theme://public/style.css')%}
      {% do assets.add('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')%}
      {{ assets.css() }}
    {% endblock %}
    {% block javascript %}
      {% do assets.add('https://cdn.polyfill.io/v2/polyfill.min.js') %}
      {% do assets.add('https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js') %}
      {% do assets.add('theme://public/scripts.js') %}

      {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
          {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
          {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
      {% endif %}
      {{ assets.js() }}
    {% endblock %}

  {% endblock head %}
</head>
<body class="{{ header.body_class_list }}" data-state-menu="closed">
  <div class="nav-n-content">
  {% block nav %}
    {% include 'partials/navigation.html.twig' %}
  {% endblock nav%}

  {% block main %}
    <main class="container content">
      {% block hero %}
        {% include 'partials/hero.html.twig' %}
      {% endblock hero %}

      {% block content %}
      {% endblock %}

    </main>
  {% endblock main%}

  <!-- end div.nav-n-content (everything but sticky footer) -->
  </div>

  <div class="footer">
  {% block footer %}
    {% include 'partials/bottom-nav.html.twig' %}
  {% endblock %}
  </div>

</body>
</html>
