{% extends 'partials/base.html.twig' %}
{# TODO move base out of partials dir #}
{% block content %}
<!-- home.html.twig -->
{% set rows = page.header.content.rows %}
{% set row = page.header.content.rows[0] %}
<!--  row 00 -->
<div class="{{row.class}}">
  <div class="hero-image" style="background-image: url({{ pages.find('/images/hero').media[row.background].url }})"></div>
  <div class="contents">
    <div class="inner bottom">
      <h1 class="headline"><span class="cormorant">{{row.heading[0]}}</span>{{row.heading[1]}}</h1>
    </div>
  </div>
</div>

{% set row = page.header.content.rows[1] %}
<!--  row 01 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_delivered')} %}
<div class="row {{row.class}}">
  <div class="col">

    <div class="col-contain image-bg" style="background-image: url({{ pages.find('/images/feature').media[row.cols.left.background].url }})"></div>
  </div>
  <div class="col">
    <div class="col-contain header">
      <div class="inner">
        <h2>{{row.cols.right.top}}</h2>
        <div class="">
          <img src="{{ pages.find('/images/icon').media[row.cols.right.bottom].url }}" alt="New Avenue Dentistry on your campus" />
        </div>
      </div>
    </div>
  </div>
</div>
{% set row = page.header.content.rows[2] %}
<!--  row 02 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_elevator')} %}
<!--  row 03 -->
{# {% include '/modular/module.html.twig' with {'page': page.find('/home/_how-it-works-header')} %} #}
<div class="row left-two how-header">
  <div class="col">
    <div class="col-contain header">
      <div class="inner">
        <h2>How it Works</h2>
        <img src="{{ pages.find('/images/icon').media['time.svg'].url }}" alt="How New Avenue Dentistry works">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain image-bg" style="background-image: url({{ pages.find('/images/feature').media['louvers.jpg'].url }})"></div>
  </div>
</div>
<!--  row 04 -->
<div class="row right-two sched">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['computer.svg'].url }}" alt="Making an appointment with New Avenue Dentistry">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          Appointment scheduling is opened to your employees. Those with treatment needs schedule for the next time we’re at your location. And we handle all of the details.
        </h3>
      </div>
    </div>
  </div>
</div>
<!--  row 05 -->
<div class="row right-two art override-right">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['trailer.svg'].url }}" alt="New Avenue Dentistry trailer icon">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          Our state of the art mobile facility arrives at your office to see patients on scheduled days.
        </h3>
      </div>
    </div>
  </div>
</div>
<!--  row 06 -->
<div class="row left-one notification">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['notification.svg'].url }}" alt="New Avenue Dentistry mobile notifications">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          Employees get friendly appointment reminders, and notifications when we’re ready to see them.
        </h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain image-bg solo" style="background-image: url({{ pages.find('/images/feature').media['notification.jpg'].url }})">
    </div>
  </div>
</div>
<!--  row 07 -->
<div class="row right-two delivered">
  <div class="col">
    <div class="col-contain image-bg solo" style="background-image: url({{ pages.find('/images/feature').media['reflection.jpg'].url }})">
    </div>
  </div>
  <div class="col">
    <div class="col-contain header">
      <div class="inner">
        <h2>Dentistry, delivered to your workplace.</h2>
      </div>

    </div>
  </div>
</div>
<!--  row 08 -->
<div class="row right-two range override-right">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['tooth_magnifier.svg'].url }}" alt="New Avenue Dentistry use as your primary dentist">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          We offer a full range of services, enabling employees to use New Avenue as their primary dentist.
        </h3>
      </div>
    </div>
  </div>
</div>
<!--  row 06 -->
<div class="row left-one regular">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['calendar.svg'].url }}" alt="New Avenue Dentistry makes regular site visits to your business">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          New Avenue makes regular site visits based on the needs of your team.
        </h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain image-bg solo" style="background-image: url({{ pages.find('/images/feature').media['chair.jpg'].url }})">
    </div>
  </div>
</div>
<div class="row left-three contact">
  <div class="col">
    <div class="col-contain">
      <h2>Get in Touch</h2>
      <h3>Drop us a line to find out how easy it is to bring on-site dentistry to your workplace</h3>
      {% include '/modular/module.html.twig' with {'page': page.find('/home/_contact')} %}
    </div>
  </div>
</div>


{% endblock %}
