{% extends 'partials/base.html.twig' %}
{# TODO move base out of partials dir #}

{% block content %}
<!-- home.html.twig -->

<section class="hero">
  <div class="hero-image" style="background-image: url({{ pages.find('/images/hero').media['notification.jpg'].url }})"></div>
  <h1>{{ page.header.title }}</h1>
</section>

<!--  row 01 -->
<div class="row right-two save">
  <div class="col">
    <div class="col-contain image-bg" style="background-image: url({{ pages.find('/images/texture').media['solar.jpg'].url }})"></div>
  </div>
  <div class="col">
    <div class="col-contain header">
      <div class="inner">
        <h2>Save time. Save travel. Save teeth.</h2>
        <div class="tag-icons">
          <img src="{{ pages.find('/images/icon').media['clock.svg'].url }}" alt="Save time with New Avenue Dentistry">
          <img src="{{ pages.find('/images/icon').media['fuel.svg'].url }}" alt="Save time with New Avenue Dentistry">
          <img src="{{ pages.find('/images/icon').media['tooth.svg'].url }}" alt="Save time with New Avenue Dentistry">
        </div>
      </div>
    </div>
  </div>
</div>
<!--  row 02 -->
{% include '/modular/module.html.twig' with {'page': page.find('/home/_elevator')} %}
<!--  row 03 -->
{# {% include '/modular/module.html.twig' with {'page': page.find('/home/_how-it-works-header')} %} #}
<div class="row left-two how-header">
  <div class="col">
    <div class="col-contain header">
      <div class="inner">
        <h2>How it Works</h2>
        <img src="{{ pages.find('/images/icon').media['time.svg'].url }}" alt="How New Avenue Dentistry works">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain image-bg" style="background-image: url({{ pages.find('/images/texture').media['louvers.jpg'].url }})"></div>
  </div>
</div>
<!--  row 04 -->
<div class="row right-two sched">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['computer.svg'].url }}" alt="Making an appointment with New Avenue Dentistry">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          Appointment scheduling is opened to your employees. Those with treatment needs schedule for the next time we’re at your location. And we handle all of the details.
        </h3>
      </div>
    </div>
  </div>
</div>
<!--  row 05 -->
<div class="row left-two art">
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          Our state of the art mobile facility arrives at your office to see patients on scheduled days.
        </h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['trailer.svg'].url }}" alt="New Avenue Dentistry trailer icon">
    </div>
  </div>
</div>
<!--  row 06 -->
<div class="row left-one notification">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['notification.svg'].url }}" alt="New Avenue Dentistry mobile notifications">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          Employees get friendly appointment reminders, and notifications when we’re ready to see them.
        </h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain image-bg solo" style="background-image: url({{ pages.find('/images/texture').media['notification.jpg'].url }})">
    </div>
  </div>
</div>
<!--  row 07 -->
<div class="row right-two delivered">
  <div class="col">
    <div class="col-contain image-bg solo" style="background-image: url({{ pages.find('/images/texture').media['reflection.jpg'].url }})">
    </div>
  </div>
  <div class="col">
    <div class="col-contain header">
      <div class="inner">
        <h2>Dentistry, delivered to your workplace.</h2>
      </div>

    </div>
  </div>
</div>
<!--  row 08 -->
<div class="row left-two art">
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          We offer a full range of services, enabling employees to use New Avenue as their primary dentist.
        </h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['tooth_magnifier.svg'].url }}" alt="New Avenue Dentistry use as your primary dentist">
    </div>
  </div>
</div>
<!--  row 06 -->
<div class="row left-one notification">
  <div class="col">
    <div class="col-contain icon solo">
      <img src="{{ pages.find('/images/icon').media['calendar.svg'].url }}" alt="New Avenue Dentistry makes regular site visits to your business">
    </div>
  </div>
  <div class="col">
    <div class="col-contain text">
      <div class="copy-block">
        <h3>
          New Avenue makes regular site visits based on the needs of your team.
        </h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-contain image-bg solo" style="background-image: url({{ pages.find('/images/texture').media['chair.jpg'].url }})">
    </div>
  </div>
</div>


{% endblock %}
