{% extends 'partials/base.html.twig' %}
{% block content %}
<section class="hero">
  <div class="col hero-image" style="background-image: url({{ pages.find('/images/hero').media[page.header.hero].url }})"></div>
  <div class="contents">
    <h1 class="separator">{{ page.header.title }}</h1>
    <div class="lead">
      <h3>{{ page.header.lead }}</h3>
    </div>

  </div>
</section>
<div class="inner">


{% set people = page.header.benefits.whom %}

{% for person in people %}
  <div class="row person-head">
    <div class="icon">
      <img alt="New Avenue Dentistry" src="/user/pages/images/icon/{{person.icon}}">
    </div>
    <div class="description">
      <div class="person-name">
        <h2>{{person.name}}</h2>
      </div>
    </div>
  </div>
  <div class="row bullets" style="">
    <div class="inside">
      <ul class="benefits">
        {% for benefit in person.benies %}
          <li class="beni">
            <div class="checkmark">
              <img src="/user/pages/images/icon/check.png" alt="" />
            </div>
            <span class="text">{{benefit}}</span>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
{% endfor %}



</div>
{% endblock %}
{% block footer %}
  {% include 'partials/bottom-nav.html.twig' %}
{% endblock %}
