{% extends 'partials/base.html.twig' %}
{% block content %}
<section class="hero">
  <div class="col hero-image" style="background-image: url({{ pages.find('/images/hero').media[page.header.hero].url }})"></div>
  <div class="contents">
    <div class="inner">
      <h1 class="separator">{{ page.header.title }}</h1>
      <h3>{{ page.header.lead }}</h3>
    </div>

  </div>
</section>

<div class="row one-col save">
  <div class="col">
    <div class="col-contain">
      <div class="inner">
        <h2>Save time. Save travel. Save teeth.</h2>
        <div class="icons">
          <img src="/user/pages/images/icon/clock.svg" alt="save time icon">
          <img src="/user/pages/images/icon/travel.svg" alt="save travel icon">
          <img src="/user/pages/images/icon/teeth.svg" alt="save teeth icon">
        </div>
      </div>
    </div>
  </div>
</div>

{% set people = page.header.benefits.whom %}

{% for person in people %}
  <div class="row benies">
    <div class="whom">
        <div class="inner">
          <div class="person-name">
            <h2>{{person.name}}</h2>
          </div>
          <img alt="New Avenue Dentistry" src="/user/pages/images/icon/{{person.icon}}">
        </div>
    </div>
    <div class="benefits">
      <ul>
        {% for benefit in person.benies %}
        <li class="beni">
          <div class="checkmark">
            <img src="/user/pages/images/icon/check.png" alt="" />
          </div>
          <span class="text">{{benefit}}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}



{% endblock %}
{% block footer %}
  {% include 'partials/bottom-nav.html.twig' %}
{% endblock %}
